body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    background: linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
}

button {
    cursor: pointer;
}

ul {
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39); 
}

li {
    padding: 15px;
    margin: 10px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

li>button {
    border: none;
    background-color: #fff;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 1s;
}

li>button:hover {
    opacity: 1;
    transition: opacity 1s;
    color: #c86dd7;
}

.title {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size:  5em;
    text-shadow: 3px 5px #000; 
}

.text-center {
    text-align: center;
}

.button {
    background-color: #000;
    border: none;
    padding: 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 1em;
    padding-left: 50px;
    padding-right: 50px;
}

.button:hover {
    opacity: 1;
    transition: opacity 1s;
    color: #c86dd7;
    background-color: rgb(54, 53, 53);
}

.btn {
    padding-top: 20px;
}

.modal {
    /* display: flex;
    flex-direction: column; */
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

.modal {
    font-weight: 300;
}

input {
    width: 100%;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2em;
}

.danger {
    color: #dc3445;
    margin-top: 0.4em;
    border-left: 3px solid #dc3445;
    padding-left: 0.2em;
    font-weight: bold;
}

button fa-icon,
a fa-icon {
    margin-right: 0.2em;
}

/* .btn path {
    border-color: #0078ff;
    color: #0078ff;
} */